body{
	margin: 45px 0 0 25px;
}

.bought {
	background-color: #EDEEF1;
	border-radius: 5px;

}

#header{
	clear:both;
}

#ingredients{
	clear:both;
}

.ingredient{
	padding:0 0 0 10px;
	display:inline-block;
}

.bought_button {
	font-family:Verdana;
	height:auto;
	width:100px;
	border:1px solid black;
	background-color: none;
	border-radius:6px;
	text-align:center;
	margin:5px;
	box-shadow: 1px 1px 2px grey;
	float:right;
	vertical-align: middle;
}

.pic_button {
	font-family:Verdana;
	height:auto;
	width:auto;
	border:1px solid black;
	background-color: none;
	border-radius:5px;
	text-align:center;
	margin:15px;
	box-shadow: 1px 1px 2px grey;
	float:right;
	vertical-align: middle;
}

.done {
	background-color: #EDEEF1;
	border-radius: 5px;
	color:grey;
}

.hide {
	display: none;
}

#header{
	border-bottom: 1px dashed black;
}

#ingredients{
	margin: 20px 690px 0 25px;

}

#directions{
	margin: 20px 0 0 25px;
	border-top: 1px dashed black;
}

#logo{
	
	display:inline;
	height:50px;
	width:50px;
	margin:15px 0 0 10px;	

}

h1 {
	font-family: Georgia, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 46px;
    font-size: 43px;
    text-shadow:0px 2px 3px #555;
}

h2 {
	font-family: Georgia, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    letter-spacing: -1px;
}

h3 {
	font-family: Georgia, sans-serif;
    display:inline-block;
    vertical-align: center;
    margin: 0 0 20px 0;
}

p {
	font-family: Verdana, sans-serif;
    font-size: 17px;
    line-height: 23px;
}

ul li {
	list-style: none;
}

ul li p {
	list-style: none;
	line-height: 1px;
}

ol li {
	font-family: Georgia, sans-serif;
	font-size:2em;
}

li img {
	height:300px;
	border-radius:5px;
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}
 
.pic {
  border: 10px solid #fff;  
  float: center;
  height: 300px;
  width: 300px;
  margin: 20px;
  overflow: hidden;
   
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
}

/*GROW*/
.grow img {
  height: 300px;
  width: 300px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.grow img:hover {
  width: 400px;
  height: 400px;
}
